img {
  border-radius: 50%;
  width: 25%;
  height: 25%;
  margin-top: 125px;
  border: solid 2px grey;
}

/* body {
  background-color: black;
  color: white;
} */

/* .repo-container {
  float: right;
} */

/* .card {
  background-color: black;
} */
